<div class="sidebar-ad">
  <small>Ad</small>
  <p>Master the 5 principles of web</p>
  <div>
    <img src="/images/user-1.png" alt="" />
    <img src="/images/mi-logo.png" alt="" />
  </div>
  <b>Brand and Demand in Xiaomi</b>
  <a href="#" class="ad-link">Learn More</a>
</div>