<div class="sidebar-useful-links">
  <a href="#">About</a>
  <a href="#">Accessories</a>
  <a href="#">Help</a>
  <a href="#">Privacy Policy</a>
  <a href="#">Advertising</a>
  <a href="#">Get the App</a>
  <a href="#">More</a>

  <div class="copyright-msg">
    <img src="/images/logo.png" alt="" />
    <p>Linkedup &#169; 2023. All rights reserved</p>
  </div>
</div>