{{> header}}

<div class="container">
    <main class="profile-main">
        <div class="profile-container">
            <img src="/images/cover-pic.png" alt="" width="100%">
            <div class="profile-container-inner">
                <img src="/images/user-1.png" alt="" class="profile-pic">
                <h1>Alexander Ukwueze</h1>
                <b>Web Developer at LeXiZ Technology</b>
                <p>Hilltop, UNN, Nsukka, Enugu State &middot; <a href="">Contact info</a></p>

                <div class="mutual-connections">
                    <img src="/images/user-2.png" alt="">
                    <span>1 mutual connect: Orlando Diggs</span>
                </div>

                <div class="profile-btn">
                    <a href="" class="primary-btn">
                        <img src="/images/connect.png" alt="">Connect
                    </a>
                    <a href="">
                        <img src="/images/chat.png" alt="">Message
                    </a>
                </div>
            </div>
        </div>

        <div class="profile-description">
            <h2>About</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque cum ratione ipsum natus id atque illo reprehenderit at, veniam, cumque saepe iure ipsa mollitia nostrum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, odit?</p>
            <a href="" class="see-more-link">See more...</a>
        </div>

        <div class="profile-description">
            <h2>Experience</h2>
            <div class="profile-description-row">
                <img src="/images/microsoft.png" alt="">
                <div>
                    <h3>Lead FullStack Dev</h3>
                    <b>Microsoft &middot; Full-time</b>
                    <b>Mar 2020 - May 2022 &middot; 2 years</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate amet magnam minus optio modi atque sit ratione repellendus facilis ad?</p>
                    <hr>
                </div>
            </div>
            <div class="profile-description-row">
                <img src="/images/google.png" alt="">
                <div>
                    <h3>FullStack Developer</h3>
                    <b>Google &middot; Full-time</b>
                    <b>Mar 2020 - May 2022 &middot; 2 years</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate amet magnam minus optio modi atque sit ratione repellendus facilis ad?</p>
                    <hr>
                </div>
            </div>
            <div class="profile-description-row">
                <img src="/images/slack.png" alt="">
                <div>
                    <h3>Backend Enginee</h3>
                    <b>Slack &middot; Full-time</b>
                    <b>Mar 2020 - May 2022 &middot; 2 years</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate amet magnam minus optio modi atque sit ratione repellendus facilis ad?</p>
                </div>
            </div>

            <hr>
            <a href="#" class="experience-link">Show all 7 experiences <img src="/images/right-arrow.png" alt=""></a>
        </div>

        <div class="profile-description">
            <h2>Education</h2>
            <div class="profile-description-row">
                <img src="/images/stanford.png" alt="">
                <div>
                    <h3>Stanford University</h3>
                    <b>BSEE, Electrical Engineering</b>
                    <b>2018 - 2022</b>
                    <hr>
                </div>
            </div>
            <div class="profile-description-row">
                <img src="/images/north.png" alt="">
                <div>
                    <h3>Northwestern University</h3>
                    <b>BSEE, Electrical Engineering</b>
                    <b>2018 - 2022</b>
                    <hr>
                </div>
            </div>
            <div class="profile-description-row">
                <img src="/images/mit.png" alt="">
                <div>
                    <h3>Havard University</h3>
                    <b>BSEE, Electrical Engineering</b>
                    <b>2018 - 2022</b>
                </div>
            </div>
        </div>

        <div class="profile-description">
            <h2>Skills</h2>
            <a href="" class="skills-btn">Leadership</a>
            <a href="" class="skills-btn">Communication</a>
            <a href="" class="skills-btn">Development</a>
            <a href="" class="skills-btn">Design</a>
            <a href="" class="skills-btn">UI/UX</a>
            <a href="" class="skills-btn">Leadership</a>
            <a href="" class="skills-btn"> NodeJs</a>
            <a href="" class="skills-btn">ReactJs</a>
        </div>
        <div class="profile-description">
            <h2>Languages</h2>
            <a href="" class="language-btn">Igbo</a>
            <a href="" class="language-btn">English</a>
            <a href="" class="language-btn">Javascript</a>
        </div>
    </main>
    <aside class="profile-sidebar">
        {{> ad}}

        <div class="sidebar-people">
            <h3>People you may know</h3>
            <div class="sidebar-people-row">
                <img src="/images/user-3.png" alt="">
                <div>
                    <h2>Esther Ukemeobong</h2>
                    <p>CEO Willy Kitchen</p>
                    <a href="">Conect</a>
                </div>
            </div>
            <div class="sidebar-people-row">
                <img src="/images/user-4.png" alt="">
                <div>
                    <h2>Fortune Ogidi</h2>
                    <p>CEO SG Graphics</p>
                    <a href="">Conect</a>
                </div>
            </div>
            <div class="sidebar-people-row">
                <img src="/images/user-5.png" alt="">
                <div>
                    <h2>Investor Nweze</h2>
                    <p>CEO Nweze Inv.</p>
                    <a href="">Conect</a>
                </div>
            </div>
        </div>
    </aside>
</div>

<div class="profile-footer">
    {{> useful-links}}
</div>